---

---

<section
  class="hero h-[85vh] w-full bg-cover bg-center bg-white flex flex-col items-center justify-center text-white mb-2"
  style="background-image: url('/public/images/hero/Index-Hero.jpg');"
>
  <div class="hero-section__content text-center px-4 sm:px-8 md:px-12 lg:px-16">
    <h1
      class="hero-section__title text-xl leading-10 md:text-4xl lg:text-5xl font-bold"
    >
      Let's Grow Together
    </h1>
    <p
      class="hero-section__desc mt-4 text-sm sm:text-base md:text-lg lg:text-xl"
    >
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
      dolorem incidunt quos, maiores eum vitae?
    </p>
  </div>
</section>
