---

---

<section
  class="resonaI9-section h-[85vh] w-full bg-cover bg-center bg-white flex flex-col items-center justify-center text-white mb-2 z-10"
  style="background-image: url('/public/images/hero/IndexResonaI9.webp');"
>
  <div class="index-product__content">
    <h2 class="index-product__title">Resona I9</h2>
    <p class="index-product__desc">
      Our cutting-edge solutions are designed to meet all your needs with
      precision and excellence.
    </p>
    <a
      href="#more-info"
      class="index-product__button index-product__button--blue"
    >
      Дэлгэрэнгүй
    </a>
  </div>
</section>
