---

---

<section
  class="uCT550-section h-[85vh] w-full bg-cover bg-center bg-white flex flex-col items-center justify-center text-white my-2"
  style="background-image: url('/images/hero/550cover-dark.webp');"
>
  <div class="index-product__content text-black">
    <h2 class="index-product__title">uCT 550</h2>
    <p class="index-product__desc">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, laboriosam!
      Cumque perferendis corrupti iure odit?
    </p>
    <a href="/uCT550" class="index-product__button index-product__button--blue">
      Дэлгэрэнгүй
    </a>
  </div>
</section>
