<section class="two-column-section grid grid-cols-1 sm:grid-cols-2 px-2 gap-2">
  <!-- Left Block -->
  <div
    class="square-block relative flex flex-col items-center justify-center bg-cover bg-center"
    style="background-image: url('/images/products/UIS/mx-7.webp');"
  >
    <div class="index-product absolute inset-0 bg-black bg-opacity-20"></div>
    <div class="index-product__content text-white">
      <h2 class="index-product__title">MX7</h2>
      <p class="index-product__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni numquam
        eos voluptatum adipisci.
      </p>
      <a href="#mx7" class="index-product__button index-product__button--blue">
        Дэлгэрэнгүй
      </a>
    </div>
  </div>

  <!-- Right Block -->
  <div
    class="square-block relative flex flex-col items-center justify-center bg-cover bg-center text-white"
    style="background-image: url('/images/products/UIS/consona-n9.webp');"
  >
    <div class="index-product__overlay absolute inset-0 bg-black bg-opacity-60">
    </div>
    <div class="index-product__content text-white">
      <h2 class="index-product__title">Consona N9</h2>
      <p class="index-product__desc">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, saepe?
      </p>
      <a
        href="#consona-n9"
        class="index-product__button index-product__button--blue"
      >
        Дэлгэрэнгүй
      </a>
    </div>
  </div>
</section>

<style>
  .square-block {
    aspect-ratio: 1;
  }
</style>
