---

---

<nav class="menu">
  <div
    class="menu__wrapper flex flex-wrap justify-center items-center mx-auto max-w-screen-xl p-2"
  >
    <!-- Logo -->
    <div class="menu__item menu__item--logo">
      <a href="#" class="menu__logo">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 22.68 22.68"
            class="w-4 h-4 fill-gray-700 hover:fill-gray-950"
            ><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"
              ><g id="Layer_1-2" data-name="Layer 1"
                ><g id="Layer_2-2" data-name="Layer 2"
                  ><g id="Layer_1-2-2" data-name="Layer 1-2"
                    ><path
                      d="M19.53,5s-5.91,10.17-14,13.9c0,0-3.16-12.69,17.14-18.94,0,0-1.88,21-15.29,20.06a3.91,3.91,0,0,1-1-.19,12.13,12.13,0,0,0,1.77-1.05C11.08,16.73,17.11,11.81,19.53,5Z"
                    ></path><path
                      d="M0,22.5l4.65-2.6s.28-.2.42.06a.32.32,0,0,1-.11.41H5L0,22.68Z"
                    ></path></g
                  ></g
                ></g
              ></g
            ></svg
          >
        </span>
      </a>
    </div>

    <!-- Menu Items -->
    <ul class="menu__list flex">
      <li class="menu__item menu__item--has-dropdown relative">
        <a href="#" class="menu__link">UIS</a>
        <div
          class="menu__dropdown w-[100vw] p-10 fixed left-0 right-0 top-9 bg-white"
        >
          <div class="menu__dropdown-colums flex w-8/12 mx-auto">
            <div class="menu__dropdown-column pr-32">
              <!-- First Column: Links -->
              <ul class="menu__dropdown-links">
                <li>
                  <a href="#" class="menu__dropdown-link">General Imaging</a>
                </li>
                <li>
                  <a href="#" class="menu__dropdown-link">Woman Health</a>
                </li>
                <li>
                  <a href="#" class="menu__dropdown-link">Cardiovascular</a>
                </li>
                <li>
                  <a href="#" class="menu__dropdown-link">Point of Care</a>
                </li>
                <li>
                  <a href="#" class="menu__dropdown-link">Primary Care</a>
                </li>
                <li><a href="#" class="menu__dropdown-link">Liver Care</a></li>
                <li><a href="#" class="menu__dropdown-link">View All</a></li>
              </ul>
            </div>
            <div class="menu__dropdown-column w-2/3 flex flex-wrap">
              <!-- Second Column: Mega Menu Items -->
              <div
                class="menu__dropdown-item flex flex-col justify-items-center"
              >
                <a href="#" class="menu__dropdown-item-image">
                  <img
                    src="/public/images/UIS/resona-i9.webp"
                    alt="Item 1"
                    class="menu__dropdown-image"
                  />
                </a>
                <div class="menu__dropdown-item-content text-center">
                  <h3 class="menu__dropdown-item-name text-lg">Resona R9</h3>
                  <a
                    href="#"
                    class="menu__dropdown-item-link text-xs text-gray-600 hover:underline"
                    >Learn More</a
                  >
                </div>
              </div>
              <div
                class="menu__dropdown-item flex flex-col justify-items-center"
              >
                <a href="#" class="menu__dropdown-item-image">
                  <img
                    src="/public/images/UIS/resona-i9.webp"
                    alt="Item 1"
                    class="menu__dropdown-image"
                  />
                </a>
                <div class="menu__dropdown-item-content text-center">
                  <h3 class="menu__dropdown-item-name text-lg">Resona R9</h3>
                  <a
                    href="#"
                    class="menu__dropdown-item-link text-xs text-gray-600 hover:underline"
                    >Learn More</a
                  >
                </div>
              </div>
              <div
                class="menu__dropdown-item flex flex-col justify-items-center"
              >
                <a href="#" class="menu__dropdown-item-image">
                  <img
                    src="/public/images/UIS/resona-i9.webp"
                    alt="Item 1"
                    class="menu__dropdown-image"
                  />
                </a>
                <div class="menu__dropdown-item-content text-center">
                  <h3 class="menu__dropdown-item-name text-lg">Resona R9</h3>
                  <a
                    href="#"
                    class="menu__dropdown-item-link text-xs text-gray-600 hover:underline"
                    >Learn More</a
                  >
                </div>
              </div>
              <div
                class="menu__dropdown-item flex flex-col justify-items-center"
              >
                <a href="#" class="menu__dropdown-item-image">
                  <img
                    src="/public/images/UIS/resona-i9.webp"
                    alt="Item 1"
                    class="menu__dropdown-image"
                  />
                </a>
                <div class="menu__dropdown-item-content text-center">
                  <h3 class="menu__dropdown-item-name text-lg">Resona R9</h3>
                  <a
                    href="#"
                    class="menu__dropdown-item-link text-xs text-gray-600 hover:underline"
                    >Learn More</a
                  >
                </div>
              </div>
              <div
                class="menu__dropdown-item flex flex-col justify-items-center"
              >
                <a href="#" class="menu__dropdown-item-image">
                  <img
                    src="/public/images/UIS/resona-i9.webp"
                    alt="Item 1"
                    class="menu__dropdown-image"
                  />
                </a>
                <div class="menu__dropdown-item-content text-center">
                  <h3 class="menu__dropdown-item-name text-lg">Resona R9</h3>
                  <a
                    href="#"
                    class="menu__dropdown-item-link text-xs text-gray-600 hover:underline"
                    >Learn More</a
                  >
                </div>
              </div>
              <div
                class="menu__dropdown-item flex flex-col justify-items-center"
              >
                <a href="#" class="menu__dropdown-item-image">
                  <img
                    src="/public/images/UIS/resona-i9.webp"
                    alt="Item 1"
                    class="menu__dropdown-image"
                  />
                </a>
                <div class="menu__dropdown-item-content text-center">
                  <h3 class="menu__dropdown-item-name text-lg">Resona R9</h3>
                  <a
                    href="#"
                    class="menu__dropdown-item-link text-xs text-gray-600 hover:underline"
                    >Learn More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="menu__item menu__item--has-dropdown relative">
        <a href="#" class="menu__link">MRI</a>
        <div class="menu__dropdown absolute hidden w-[100vw] p-6">
          <div class="menu__dropdown-item">
            <img
              src="/images/mri-product1.jpg"
              alt="MRI Product"
              class="menu__dropdown-image"
            />
            <div class="menu__dropdown-content">
              <a href="#" class="menu__dropdown-name">MRI Product</a>
              <a href="#" class="menu__dropdown-details">Learn More</a>
            </div>
          </div>
          <!-- Add more submenu items as needed -->
        </div>
      </li>
      <li class="menu__item menu__item--has-dropdown">
        <a href="#" class="menu__link">CT</a>
        <div class="menu__dropdown">
          <!-- Submenu items here -->
        </div>
      </li>
      <li class="menu__item menu__item--has-dropdown">
        <a href="#" class="menu__link">Mammo</a>
        <div class="menu__dropdown">
          <!-- Submenu items here -->
        </div>
      </li>
      <li class="menu__item menu__item--has-dropdown">
        <a href="#" class="menu__link">Angio</a>
        <div class="menu__dropdown">
          <!-- Submenu items here -->
        </div>
      </li>
      <li class="menu__item menu__item--has-dropdown">
        <a href="#" class="menu__link">Pet CT</a>
        <div class="menu__dropdown">
          <!-- Submenu items here -->
        </div>
      </li>
      <li class="menu__item menu__item--has-dropdown">
        <a href="#" class="menu__link">X-Ray</a>
        <div class="menu__dropdown">
          <!-- Submenu items here -->
        </div>
      </li>
      <li class="menu__item menu__item--has-dropdown">
        <a href="#" class="menu__link">Shinjyuku Care+</a>
        <div class="menu__dropdown">
          <!-- Submenu items here -->
        </div>
      </li>
    </ul>
  </div>
</nav>

<style>
  .menu__logo-svg {
    @apply opacity-70 hover:opacity-100;
  }

  .menu__wrapper {
    /* @apply w-8/12 mx-auto py-2 items-center justify-center; */
  }

  .menu__item {
    @apply mx-5 text-sm font-medium text-gray-600 hover:text-gray-950;
  }

  /* Dropdown styles */
  .menu__item--has-dropdown:hover .menu__dropdown {
    @apply flex;
  }

  .menu__dropdown {
    @apply hidden;
  }

  .menu__dropdown-links li {
    @apply py-2;
  }

  .menu__dropdown-image {
    @apply h-48 p-6;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .menu__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    .menu__list {
      flex-direction: column;
      gap: 10px;
    }
  }
</style>
