---
import Main from "../layouts/Main.astro";
import Index2Products from "../components/sections/Index2Products.astro";
import IndexResonaI9 from "../components/sections/indexResonaI9.astro";
---

<Main>
  <Index2Products />
  <IndexResonaI9 />
</Main>
