---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout title="uCT550 - 40/80 slice CT">
  <section
    class="h-[30vh] md:h-[75vh] w-full bg-cover bg-center bg-white grid lg:grid-cols-2 content-center text-white mb-2"
    style="background-image: url('/public/images/products/CT/uCT550/550cover-dark.webp');"
  >
    <div class="product-hero__content lg:w-1/2 lg:mx-auto">
      <div class="flex flex-col w-full text-start pl-12">
        <p class="product-hero__desc md:text-2xl md:mb-4">40/80 slice CT</p>
        <h2 class="product-hero__title md:text-8xl">uCT550</h2>
      </div>
    </div>
  </section>
  <section class="flex flex-col p-12 md:py-32 md:px-60 bg-white">
    <div class="flex flex-col text-center">
      <h2 class="text-5xl mb-8">Powerful. Proven</h2>
      <p class="mb-8 md:mb-12 md:text-2xl text-gray-600 pr-20">
        By integrating technologies usually reserved for high-end scanners, uCT
        550 delivers many advances in image quality and workflow efficiency,
        significantly enhancing routine clinical performance.
      </p>
    </div>
    <div class="flex flex-col md:flex-row">
      <div class="flex-1">
        <p class="mb-2 md:text-xl text-gray-600 pr-20">
          The Backbone of Exceptional Imaging
        </p>
        <h2 class="text-3xl mb-8">Powerful Imaging Chain</h2>
        <p class="mb-2 md:text-xl text-gray-600 pr-20">
          High resolution images with low dose
        </p>
        <h2 class="text-3xl mb-8">Outstanding Image Quality</h2>
        <p class="mb-2 md:text-xl text-gray-600 pr-20">
          Boost daily patient throughput capability
        </p>
        <h2 class="text-3xl mb-8">Efficient Workflow</h2>
        <p class="mb-2 md:text-xl text-gray-600 pr-20">
          Reduce energy consumption while maintaining workflow efficiency
        </p>
        <h2 class="text-3xl mb-8">Smart Energy Saving</h2>
      </div>
      <div class="flex-1 h-96">
        <img
          src="/public/images/products/CT/uCT550/uct-550-banner.webp"
          alt=""
        />
      </div>
    </div>
  </section>
  <section class="flex flex-col h-fit p-12 md:py-32 md:px-60 bg-white">
    <div class="flex flex-col">
      <h2 class="text-5xl mb-16">Powerful Imaging Chain</h2>
      <div class="flex flex-1 flex-col md:flex-row">
        <div class="grid grid-cols-1 md:grid-cols-2 w-full md:w-1/2">
          <div class="flex flex-col">
            <img
              src="/public/images/products/CT/uCT550/icon_11.webp"
              class="w-10 h-10 mb-8"
              alt=""
            />
            <h2 class="text-3xl mb-8">5.3 MHU</h2>
            <p class="mb-2 md:text-xl text-gray-600 pr-20">
              5.3 MHU X-ray tube with fast cooling rate of 815 kHU/min, ensuring
              high patient throughput.
            </p>
          </div>
          <div class="flex flex-col">
            <img
              src="/public/images/products/CT/uCT550/icon_11.webp"
              class="w-10 h-10 mb-8"
              alt=""
            />
            <h2 class="text-3xl mb-8">50 kW</h2>
            <p class="mb-2 md:text-xl text-gray-600 pr-20">
              50 kW power generator enables uninterrupted power.
            </p>
          </div>
          <div class="flex flex-col">
            <img
              src="/public/images/products/CT/uCT550/icon_11.webp"
              class="w-10 h-10 mb-8"
              alt=""
            />
            <h2 class="text-3xl mb-8">40 Row Z-Detector</h2>
            <p class="mb-2 md:text-xl text-gray-600 pr-20">
              With 22 mm Z-axis coverage and 0.55 mm slice thickness, the uCT
              550 offers extraordinary spatial resolution and low contrast
              detectability.
            </p>
          </div>
          <div class="flex flex-col">
            <img
              src="/public/images/products/CT/uCT550/icon_11.webp"
              class="w-10 h-10 mb-8"
              alt=""
            />
            <h2 class="text-3xl mb-8">70 kV Scan Mode</h2>
            <p class="mb-2 md:text-xl text-gray-600 pr-20">
              The 70 kV scan mode can increase signal-to-noise (SNR) which can
              be especially beneficial for pediatric patients, contrast imaging
              and CT Venography (CTV) imaging.
            </p>
          </div>
        </div>
        <div class="flex-1 w-full md:w-1/2 mt-10 md:mt-0">
          <img src="/public/images/products/CT/uCT550/uct550-1.webp" alt="" />
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col p-12 md:py-32 md:px-60 bg-gray-100">
    <div class="flex flex-col text-start">
      <h2 class="text-5xl mb-8">Innovative Z-Detector</h2>
      <div class="flex-1 w-full h-auto">
        <img src="/public/images/products/CT/uCT550/ct520new.webp" alt="" />
      </div>
      <div class="flex flex-col md:flex-row pt-24">
        <div class="flex flex-col mb-10 md:mb-0">
          <img
            src="/public/images/products/CT/uCT550/icon_8.webp"
            class="w-10 h-10 mb-8"
            alt=""
          />
          <h2 class="text-3xl mb-8">40 Row Z-Detector</h2>
          <p class="mb-2 md:text-xl text-gray-600 pr-20">
            With 22 mm Z-axis coverage and 0.55 mm slice thickness, the uCT 550
            offers extraordinary spatial resolution and low contrast
            detectability.
          </p>
        </div>
        <div class="flex flex-col mb-10 md:mb-0">
          <img
            src="/public/images/products/CT/uCT550/icon_3.webp"
            class="w-10 h-10 mb-8"
            alt=""
          />
          <h2 class="text-3xl mb-8">40 Row Z-Detector</h2>
          <p class="mb-2 md:text-xl text-gray-600 pr-20">
            With 22 mm Z-axis coverage and 0.55 mm slice thickness, the uCT 550
            offers extraordinary spatial resolution and low contrast
            detectability.
          </p>
        </div>
        <div class="flex flex-col mb-10 md:mb-0">
          <img
            src="/public/images/products/CT/uCT550/icon_10.webp"
            class="w-10 h-10 mb-8"
            alt=""
          />
          <h2 class="text-3xl mb-8">40 Row Z-Detector</h2>
          <p class="mb-2 md:text-xl text-gray-600 pr-20">
            With 22 mm Z-axis coverage and 0.55 mm slice thickness, the uCT 550
            offers extraordinary spatial resolution and low contrast
            detectability.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col p-12 md:py-32 md:px-60 bg-black text-gray-200">
    <div class="flex flex-col text-center">
      <h2 class="text-5xl mb-8 md:mb-16">Outstanding Image Quality</h2>
    </div>
    <div class="flex flex-col md:flex-row">
      <div class="flex-1">
        <h2 class="text-3xl mb-4">Metal Artifact Correction</h2>
        <p class="mb-2 md:mb-16 md:text-xl text-gray-600 pr-20">
          (MAC) Removes artifacts while retaining important structural details.
        </p>
        <h2 class="text-3xl mb-4">1024 Reconstruction Matrix</h2>
        <p class="mb-2 md:mb-16 md:text-xl text-gray-600 pr-20">
          High resolution reconstruction matrices augment spatial resolution and
          reveal subtle anatomic details.
        </p>
        <h2 class="text-3xl mb-4">KARL 3D Iterative Denoising</h2>
        <p class="mb-2 md:mb-16 md:text-xl text-gray-600 pr-20">
          The state-of-the-art algorithm is performed in both the projection and
          image domains.
        </p>
      </div>
      <div class="flex-1 h-96 mt-16 md:mt-0">
        <img
          src="/public/images/products/CT/uCT550/outstanding-image-quality.webp"
          alt=""
        />
      </div>
    </div>
  </section>
  <section class="flex flex-col h-fit p-12 md:py-32 md:px-60 bg-white">
    <div class="flex flex-col">
      <h2 class="text-5xl mb-16">Efficient Workflow</h2>
      <div class="flex flex-1 flex-col md:flex-row">
        <div class="grid grid-cols-1 md:grid-cols-2 w-full md:w-1/2">
          <div class="flex flex-col mb-16 md:mb-0">
            <img
              src="/public/images/products/CT/uCT550/icon_16.webp"
              class="w-10 h-10 mb-8"
              alt=""
            />
            <h2 class="text-3xl mb-8">
              Easy-Logic Intelligent Prediction Platform
            </h2>
            <p class="mb-2 md:text-xl text-gray-600 pr-20">
              Easy-Logic anticipates the user's intentions and automatically
              prepares the scanner in advance resulting in a highly efficient
              workflow without delays.
            </p>
          </div>
          <div class="flex flex-col">
            <img
              src="/public/images/products/CT/uCT550/icon_18.webp"
              class="w-10 h-10 mb-8"
              alt=""
            />
            <h2 class="text-3xl mb-8">Advanced Applications</h2>
            <p class="mb-2 md:text-xl text-gray-600 pr-20">
              Integrated advanced post-processing applications improve
              diagnostic confidence.
            </p>
          </div>
        </div>
        <div class="flex-1 w-full md:w-1/2 mt-10 md:mt-0">
          <img
            src="/public/images/products/CT/uCT550/outstanding-image-quality-desktop.webp"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col p-12 md:py-32 md:px-60 bg-black text-white">
    <div class="flex flex-col md:flex-row text-start">
      <h2 class="text-5xl mb-8 w-full md:w-1/2">uECO Energy-saving Mode</h2>
      <p
        class="w-full md:w-1/2 mb-8 md:mb-12 md:text-2xl text-gray-600 md:pr-20"
      >
        With the uECO mode, energy consumption of the scanner is reduced by
        partially powering down system components while maintaining the basic
        functionalities to ensure that the system can quickly resume work. This
        significantly improves energy efficiency, thereby reducing the overall
        environmental impact and operating costs.
      </p>
    </div>
    <div class="flex flex-col md:flex-row gap-10">
      <div
        class="flex-1 p-16 text-gray-200"
        style="background-image: url('/public/images/products/CT/uCT550/map1.webp');"
      >
        <div class="slide-title-part text-xl mb-8">01</div>
        <div class="slide-title-main text-2xl pb-4 border-b mb-4">
          <p>Reduce Electricity Consumption</p>
        </div>
        <div class="slide-content text-lg">
          Reduce electricity consumption for operation and ambient cooling by up
          to 31.4% compared to conventional stand-by mode.
        </div>
      </div>
      <div
        class="flex-1 p-16 text-gray-200"
        style="background-image: url('/public/images/products/CT/uCT550/map1.webp');"
      >
        <div class="slide-title-part text-xl mb-8">02</div>
        <div class="slide-title-main text-2xl pb-4 border-b mb-4">
          <p>One-click for uECO</p>
        </div>
        <div class="slide-content text-lg">
          During the system idle time, such as at nights or on weekends, the
          system can switch to the uECO mode with one-click.
        </div>
      </div>
      <div
        class="flex-1 p-16 text-gray-200"
        style="background-image: url('/public/images/products/CT/uCT550/map1.webp');"
      >
        <div class="slide-title-part text-xl mb-8">03</div>
        <div class="slide-title-main text-2xl pb-4 border-b mb-4">
          <p>Smart Wake-up</p>
        </div>
        <div class="slide-content text-lg">
          Upon waking up from the uECO mode, the system is able to quickly
          become stable and ready for work, thus reducing the wait time while
          providing consistent high-quality images.
        </div>
      </div>
    </div>
  </section>
  <section class="p-12 md:py-32 md:px-64 bg-gray-100">
    <h2 class="text-3xl md:text-5xl mb-8 md:mb-16">Clinical Applications</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-16 text-gray-500">
      <div class="">
        <img
          src="/public/images/products/CT/uCT550/gallery-item-1.webp"
          alt=""
        />
        <h3 class="text-2xl my-4">Non-contrast Head Scan</h3>
      </div>
      <div class="">
        <img
          src="/public/images/products/CT/uCT550/gallery-item-2.webp"
          alt=""
        />
        <h3 class="text-2xl my-4">Carotid CTA</h3>
      </div>
      <div class="">
        <img
          src="/public/images/products/CT/uCT550/gallery-item-3.webp"
          alt=""
        />
        <h3 class="text-2xl my-4">Contrast Enhanced Abdomen Scan</h3>
      </div>
      <div class="">
        <img
          src="/public/images/products/CT/uCT550/gallery-item-4.webp"
          alt=""
        />
        <h3 class="text-2xl my-4">Non-contrast Chest Scan</h3>
      </div>
      <div class="">
        <img
          src="/public/images/products/CT/uCT550/gallery-item-5.webp"
          alt=""
        />
        <h3 class="text-2xl my-4">Aorta CTA</h3>
      </div>
      <div class="">
        <img
          src="/public/images/products/CT/uCT550/gallery-item-6.webp"
          alt=""
        />
        <h3 class="text-2xl my-4">Run-off CTA</h3>
      </div>
    </div>
  </section>

  <style>
    .slider__track-wrapper {
      @apply overflow-hidden w-full; /* Slider-ийн нийт өргөнийг тогтооно */
    }

    .slider__track {
      @apply flex; /* Slide-уудыг дарааллуулна */
    }

    .slider__slide {
      @apply w-full flex-shrink-0; /* Нэг слайд зөвхөн нэг дэлгэцэнд багтахаар тохируулна */
    }

    /* Add this to your Tailwind CSS config or global CSS if needed */
    .slider__control {
      @apply text-xl font-bold text-gray-700 cursor-pointer;
    }

    .slider__dot {
      @apply transition-colors duration-300 cursor-pointer;
    }

    .slider__dot-active {
      @apply bg-blue-500;
    }
  </style>

  <script>
    const sliderTrack = document.querySelector(".slider__track");
    const slides = document.querySelectorAll(".slider__slide");
    const dots = document.querySelectorAll(".slider__dot");
    const prevBtn = document.querySelector(".slider__control--prev");
    const nextBtn = document.querySelector(".slider__control--next");

    let currentIndex = 0;

    // Update slider
    function updateSlider(index) {
      const offset = -index * 100;
      sliderTrack.style.transform = `translateX(${offset}%)`;

      dots.forEach((dot, i) => {
        dot.classList.toggle("slider__dot-active", i === index);
      });
    }

    // Handle prev button
    prevBtn.addEventListener("click", () => {
      currentIndex = (currentIndex - 1 + slides.length) % slides.length;
      updateSlider(currentIndex);
    });

    // Handle next button
    nextBtn.addEventListener("click", () => {
      currentIndex = (currentIndex + 1) % slides.length;
      updateSlider(currentIndex);
    });

    // Handle dot click
    dots.forEach((dot) => {
      dot.addEventListener("click", () => {
        currentIndex = parseInt(dot.dataset.slide);
        updateSlider(currentIndex);
      });
    });

    // Initialize slider
    updateSlider(currentIndex);
  </script>
</MainLayout>
