<footer
  class="flex w-full justify-center items-center gap-x-8 p-8 bg-gray-900 text-gray-200"
>
  <div>&copy; Shinjyuku LLC</div>
  <a
    class="pt-1"
    href="https://www.facebook.com/mongoliamindray"
    target="_blank"><ion-icon name="logo-facebook"></ion-icon></a
  >
  <a
    class="pt-1"
    href="https://www.instagram.com/shinjyuku_llc?igsh=czgwMHlweDFqdXFu"
    target="_blank"><ion-icon name="logo-instagram"></ion-icon></a
  >
  <a href="/contact">Холбоо барих</a>
</footer>
