---

---

<header class="header">
  <nav class="nav container">
    <div class="nav__data">
      <!-- Logo -->
      <div class="sjk-logo mr-8">
        <a href="shinjyuku.mn" class="sjk-logo__link">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 22.68 22.68"
              class="w-5 h-5 fill-gray-700 hover:fill-gray-950"
              ><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"
                ><g id="Layer_1-2" data-name="Layer 1"
                  ><g id="Layer_2-2" data-name="Layer 2"
                    ><g id="Layer_1-2-2" data-name="Layer 1-2"
                      ><path
                        d="M19.53,5s-5.91,10.17-14,13.9c0,0-3.16-12.69,17.14-18.94,0,0-1.88,21-15.29,20.06a3.91,3.91,0,0,1-1-.19,12.13,12.13,0,0,0,1.77-1.05C11.08,16.73,17.11,11.81,19.53,5Z"
                      ></path><path
                        d="M0,22.5l4.65-2.6s.28-.2.42.06a.32.32,0,0,1-.11.41H5L0,22.68Z"
                      ></path></g
                    ></g
                  ></g
                ></g
              ></svg
            >
          </span>
        </a>
      </div>
      <!-- Hamburger button -->
      <!-- <button
        class="hamburger-button md:hidden"
        id="hamburger-button"
        aria-controls="primary-navigation"
        aria-expanded="false"
      >
        <svg
          stroke="var(--button-color)"
          fill="none"
          class="hamburger"
          viewBox="-10 -10 120 120"
          width="40"
        >
          <path
            class="line"
            stroke-width="10"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m 20 40 h 60 a 1 1 0 0 1 0 20 h -60 a 1 1 0 0 1 0 -40 h 30 v 70"
          >
          </path>
        </svg>
      </button> -->
      <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-line nav__toggle-menu"></i>
        <i class="ri-close-line nav__toggle-close"></i>
      </div>
    </div>
    <!-- NAV MENU -->
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li>
          <a href="#">Home</a>
        </li>
        <!-- DROPDOWN 1 -->
        <li class="dropdown__item">
          <div class="nav__link dropdown__button">
            UIS
            <i class="ri-arrow-down-s-line dropdown__arrow"></i>
          </div>
          <div class="dropdown__container">
            <div class="dropdown__content">
              <div class="dropdown__group">
                <a href="#" class="dropdown__group__image">
                  <img
                    src="/public/images/products/UIS/resona-i9.webp"
                    alt="Item 1"
                  />
                </a>
                <div class="dropdown__group__content">
                  <h3 class="dropdown__group__title">Resona I9</h3>
                  <a href="#" class="dropdown__group__link">Дэлгэрэнгүй</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#about">Shinjyuku Care+</a>
        </li>
      </ul>
    </div>
  </nav>

  <style>
    :root {
      --header-height: 0.8rem;
      /*========== Colors ==========*/
      /*Color mode HSL(hue, saturation, lightness)*/
      --first-color: hsl(220, 68%, 54%);
      --first-color-lighten: hsl(220, 68%, 97%);
      --title-color: hsl(220, 48%, 28%);
      --text-color: hsl(220, 12%, 45%);
      --body-color: hsl(220, 100%, 99%);
      /*========== Font and typography ==========*/
      /*.5rem = 8px | 1rem = 16px ...*/
      --body-font: "Calibri", sans-serif;
      --normal-font-size: 0.938rem;
      --small-font-size: 0.813rem;
      --smaller-font-size: 0.75rem;
      /*========== Font weight ==========*/
      --font-medium: 500;
      --font-semi-bold: 600;
      /*========== z index ==========*/
      --z-tooltip: 10;
      --z-fixed: 100;
    }
    @media screen and (min-width: 1024px) {
      :root {
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
      }
    }
    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    /*=============== REUSABLE CSS CLASSES ===============*/
    .container {
      max-width: 1120px;
    }

    /*=============== HEADER ===============*/
    .header {
      position: static;
      top: 0;
      left: 0;
      width: 100%;
      box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
      background-color: var(--body-color);
      z-index: var(--z-fixed);
    }

    /*=============== NAV ===============*/
    .nav {
      height: var(--header-height);
    }
    .nav__data {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav__toggle {
      position: relative;
      width: 32px;
      height: 32px;
    }
    .nav__toggle-menu,
    .nav__toggle-close {
      font-size: 1.25rem;
      color: var(--title-color);
      position: absolute;
      display: grid;
      place-items: center;
      inset: 0;
      cursor: pointer;
      transition:
        opacity 0.1s,
        transform 0.4s;
    }
    .nav__toggle-close {
      opacity: 0;
    }
    @media screen and (max-width: 1118px) {
      .nav__menu {
        background-color: var(--body-color);
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        padding-block: 1.5rem 4rem;
        pointer-events: none;
        opacity: 0;
        transition:
          top 0.4s,
          opacity 0.3s;
      }
      .nav__menu::-webkit-scrollbar {
        width: 0.5rem;
      }
      .nav__menu::-webkit-scrollbar-thumb {
        background-color: hsl(220, 12%, 70%);
      }
    }
    .nav__link {
      color: var(--title-color);
      font-weight: var(--font-semi-bold);
      padding: 1.25rem 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color 0.3s;
    }
    .nav__link:hover {
      background-color: var(--first-color-lighten);
    }

    /* Show menu */
    .show-menu {
      opacity: 1;
      top: 3.5rem;
      pointer-events: initial;
    }

    /* Show icon */
    .show-icon .nav__toggle-menu {
      opacity: 0;
      transform: rotate(90deg);
    }

    .show-icon .nav__toggle-close {
      opacity: 1;
      transform: rotate(90deg);
    }

    /*=============== DROPDOWN ===============*/
    .dropdown__button {
      cursor: pointer;
    }
    .dropdown__arrow {
      font-size: 1.5rem;
      font-weight: initial;
      transition: transform 0.4s;
    }
    .dropdown__content,
    .dropdown__group,
    .dropdown__list {
      display: grid;
    }
    .dropdown__container {
      background-color: var(--first-color-lighten);
      height: 0;
      overflow: hidden;
      transition: height 0.4s;
    }
    .dropdown__content {
      row-gap: 1.75rem;
    }
    .dropdown__group {
      padding-left: 2.5rem;
      row-gap: 0.5rem;
    }
    .dropdown__group:first-child {
      margin-top: 1.25rem;
    }
    .dropdown__group:last-child {
      margin-bottom: 1.25rem;
    }
    .dropdown__icon i {
      font-size: 1.25rem;
      color: var(--first-color);
    }
    .dropdown__title {
      font-size: var(--small-font-size);
      font-weight: var(--font-semi-bold);
      color: var(--title-color);
    }
    .dropdown__list {
      row-gap: 0.25rem;
    }
    .dropdown__link {
      font-size: var(--smaller-font-size);
      font-weight: var(--font-medium);
      color: var(--text-color);
      transition: color 0.3s;
    }
    .dropdown__link:hover {
      color: var(--title-color);
    }

    /* Rotate dropdown icon */
    .show-dropdown .dropdown__arrow {
      transform: rotate(180deg);
    }

    /*=============== BREAKPOINTS ===============*/
    /* For small devices */
    @media screen and (max-width: 300px) {
      .dropdown__group {
        padding-left: 1.5rem;
      }
    }
    /* For large devices */
    @media screen and (min-width: 1118px) {
      /* Nav */
      .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
      }
      .nav__toggle {
        display: none;
      }
      .nav__list {
        display: flex;
        column-gap: 3rem;
        height: 100%;
      }
      .nav li {
        display: flex;
      }
      .nav__link {
        padding: 0;
      }
      .nav__link:hover {
        background-color: initial;
      }
      /* Dropdown */
      .dropdown__button {
        column-gap: 0.25rem;
        pointer-events: none;
      }
      .dropdown__container {
        height: max-content;
        position: absolute;
        left: 0;
        right: 0;
        top: 6.5rem;
        background-color: var(--body-color);
        box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
        pointer-events: none;
        opacity: 0;
        transition:
          top 0.4s,
          opacity 0.3s;
      }
      .dropdown__content {
        grid-template-columns: repeat(4, max-content);
        column-gap: 6rem;
        max-width: 1120px;
        margin-inline: auto;
      }
      .dropdown__group {
        padding: 4rem 0;
        align-content: baseline;
        row-gap: 1.25rem;
      }
      .dropdown__group:first-child,
      .dropdown__group:last-child {
        margin: 0;
      }
      .dropdown__list {
        row-gap: 0.75rem;
      }
      .dropdown__icon {
        width: 60px;
        height: 60px;
        background-color: var(--first-color-lighten);
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-bottom: 1rem;
      }
      .dropdown__icon i {
        font-size: 2rem;
      }
      .dropdown__title {
        font-size: var(--normal-font-size);
      }
      .dropdown__link {
        font-size: var(--small-font-size);
      }
      .dropdown__link:hover {
        color: var(--first-color);
      }
      .dropdown__item {
        cursor: pointer;
      }
      .dropdown__item:hover .dropdown__arrow {
        transform: rotate(180deg);
      }
      .dropdown__item:hover > .dropdown__container {
        top: 5.5rem;
        opacity: 1;
        pointer-events: initial;
        cursor: initial;
      }
    }
    @media screen and (min-width: 1152px) {
      .container {
        margin-inline: auto;
      }
    }
  </style>
  <!-- <script>
    const buttons = document.querySelectorAll("button");

    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const currentState = button.getAttribute("data-state");

        if (!currentState || currentState === "closed") {
          button.setAttribute("data-state", "opened");
          button.setAttribute("aria-expanded", "true");
        } else {
          button.setAttribute("data-state", "closed");
          button.setAttribute("aria-expanded", "false");
        }
      });
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const hamburgerButton = document.getElementById("hamburger-button");
      const megaMenu = document.getElementById("mega-menu-list");

      hamburgerButton.addEventListener("click", () => {
        hamburgerButton.classList.toggle("open");
        megaMenu.classList.toggle("hidden");
        megaMenu.classList.toggle("open");
      });
    });
  </script> -->

  <!-- <script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script> -->

  <script>
    /*=============== SHOW MENU ===============*/
    const showMenu = (toggleId, navId) => {
      const toggle = document.getElementById(toggleId),
        nav = document.getElementById(navId);

      toggle.addEventListener("click", () => {
        // Add show-menu class to nav menu
        nav.classList.toggle("show-menu");
        // Add show-icon to show and hide menu icon
        toggle.classList.toggle("show-icon");
      });
    };

    showMenu("nav-toggle", "nav-menu");

    /*=============== SHOW DROPDOWN MENU ===============*/
    const dropdownItems = document.querySelectorAll(".dropdown__item");

    // 1. Select each dropdown item
    dropdownItems.forEach((item) => {
      const dropdownButton = item.querySelector(".dropdown__button");

      // 2. Select each button click
      dropdownButton.addEventListener("click", () => {
        // 7. Select the current show-dropdown class
        const showDropdown = document.querySelector(".show-dropdown");

        // 5. Call the toggleItem function
        toggleItem(item);

        // 8. Remove the show-dropdown class from other items
        if (showDropdown && showDropdown !== item) {
          toggleItem(showDropdown);
        }
      });
    });

    // 3. Create a function to display the dropdown
    const toggleItem = (item) => {
      // 3.1. Select each dropdown content
      const dropdownContainer = item.querySelector(".dropdown__content");

      // 6. If the same item contains the show-dropdown class, remove
      if (item.classList.contains("show-dropdown")) {
        dropdownContainer.removeAttribute("style");
        item.classList.remove("show-dropdown");
      } else {
        // 4. Add the maximum height to the dropdown content and add the show-dropdown class
        dropdownContainer.style.height = dropdownContainer.scrollHeight + "px";
        item.classList.add("show-dropdown");
      }
    };
  </script>
</header>
