---

---

<header
  class="header relative inset-x-0 py-4 px-[7%] flex items-center justify-between md:justify-center bg-gray-200 h-10 mx-auto"
>
  <a href="" class="logo text-xl font-bold mr-6">SJK</a>

  <input type="checkbox" id="menu-bar" class="hidden" />
  <label for="menu-bar" class="block md:hidden"
    ><i class="fa fa-bars"></i></label
  >

  <nav
    class="navbar inset-x-0 bg-gray-200 hidden md:flex items-center absolute top-full md:static md:top-10 h-auto md:h-10"
  >
    <ul class="flex flex-col md:flex-row gap-x-6 md:justify-center p-4 gap-y-8">
      <li class="relative"><a href="#">Home</a></li>
      <li class="relative">
        <a href="#" class="peer/dropdown-button" id="dropdown-button">UIS</a>
        <div
          class="dropdown__wrapper relative md:absolute w-full inset-x-0 p-4 md:gap-x-10 peer-hover/dropdown-button:flex z-50 bg-red-200 hidden"
        >
          <ul class="dropdown__content flex flex-col md:flex-row md:absolute">
            <li class="">
              <div
                class="dropdown__content w-full md:w-8/12 flex flex-col md:flex-row justify-center md:gap-x-10 gap-y-10 py-6"
              >
                <div class="dropdown__group py-4">
                  <div
                    class="dropdown__item flex md:flex-col items-center justify-start md:justify-center"
                  >
                    <a href="#" class="dropdown__image-link w-2/5 md:w-full">
                      <img
                        src="/public/images/products/UIS/resona-i9.webp"
                        alt="Item 1"
                        class="dropdown__image w-auto h-auto md:w-48 md:h-auto"
                      />
                    </a>
                    <div class="dropdown__content text-center w-3/5">
                      <h3 class="dropdown__name text-3xl md:text-lg">
                        Resona I9
                      </h3>
                      <a
                        href="#"
                        class="dropdown__link text-xs text-gray-600 hover:underline"
                        >Дэлгэрэнгүй</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown__group py-4">
                <div
                  class="dropdown__item flex md:flex-col items-center justify-start md:justify-center"
                >
                  <a href="#" class="dropdown__image-link w-2/5">
                    <img
                      src="/public/images/products/UIS/consona-n9.webp"
                      alt="Item 1"
                      class="dropdown__image w-auto h-auto"
                    />
                  </a>
                  <div class="dropdown__content text-center w-3/5">
                    <h3 class="dropdown__name text-3xl md:text-lg">
                      Consona N9
                    </h3>
                    <a
                      href="#"
                      class="dropdown__link text-xs text-gray-600 hover:underline"
                      >Дэлгэрэнгүй</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown__group py-4">
                <div
                  class="dropdown__item flex md:flex-col items-center justify-start md:justify-center"
                >
                  <a href="#" class="dropdown__image-link w-2/5">
                    <img
                      src="/public/images/products/UIS/mx-7.webp"
                      alt="Item 1"
                      class="dropdown__image w-auto h-auto"
                    />
                  </a>
                  <div class="dropdown__content text-center w-3/5">
                    <h3 class="dropdown__name text-3xl md:text-lg">MX7</h3>
                    <a
                      href="#"
                      class="dropdown__link text-xs text-gray-600 hover:underline"
                      >Дэлгэрэнгүй</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown__group py-4">
                <div
                  class="dropdown__item flex md:flex-col items-center justify-start md:justify-center"
                >
                  <a href="#" class="dropdown__image-link w-2/5">
                    <img
                      src="/public/images/products/CT/uCT-550.webp"
                      alt="Item 1"
                      class="dropdown__image w-auto h-auto"
                    />
                  </a>
                  <div class="dropdown__content text-center w-3/5">
                    <h3 class="dropdown__name text-3xl md:text-lg">uCT550</h3>
                    <a
                      href="#"
                      class="dropdown__link text-xs text-gray-600 hover:underline"
                      >Дэлгэрэнгүй</a
                    >
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="relative"><a href="#">Shinjyuku Care+</a></li>
    </ul>
  </nav>
</header>

<style>
  /* .header {
    z-index: 1000;
  } */

  #menu-bar:checked ~ .navbar {
    display: initial;
  }

  #dropdown-button:checked + .dropdown__wrapper {
    display: initial;
  }
</style>
