<header>
  <!-- Navbar -->
  <nav
    class="relative top-0 flex flex-wrap items-center justify-between bg-white w-full h-20 px-6 z-10 md:bg-opacity-90"
  >
    <div class="text-dark cursor-pointer">
      <a href="">
        <svg
          class="fill-current h-6 w-auto"
          id="juliana-logo-simple"
          viewBox="0 0 807.5 120"
        >
          <title>Juliana Bicycles</title>
          <path
            d="M182.9,6.44V70.56c0,9.63-1.85,14.19-3.42,16.31-3.35,4.61-8,6.84-14.24,6.84s-10.87-2.23-14.19-6.78c-2.27-3.23-3.41-8.73-3.41-16.37V6.44h-23.4V74.69c0,11.54,3.71,21.26,11,28.81a42,42,0,0,0,59.39.69l.08-.08c.2-.2.41-.4.6-.61,7.28-7.55,11-17.27,11-28.81V6.44Zm15,68.25c0,9.46-2.81,17-8.6,23a33.75,33.75,0,0,1-47.71.36l0,0c-.12-.11-.23-.22-.34-.34-5.79-6-8.63-13.55-8.63-23V14.84h6.67V70.6c0,9.54,1.6,16.46,5,21.22,5,6.83,12,10.3,21,10.3s16-3.47,21-10.3c3.35-4.58,5-11.53,5-21.22V14.84h6.66Z"
            transform="translate(-1)"></path>
          <path
            d="M282.05,91.82V6.44h-23.4V114.32h59V91.82ZM309.22,106H267V14.84h6.67v85.41h35.54Z"
            transform="translate(-1)"></path>
          <path
            d="M364,6.44V114.32h23.37V6.44ZM379,106h-6.63V14.84H379Z"
            transform="translate(-1)"></path>
          <path
            d="M640.34,6.28V68.44L567.79,0V114.38h23.37V51.77L663.71,120V6.28Zm15,95L582.78,33v73.82h-6.66v-88l72.55,68.44V13.84h6.66Z"
            transform="translate(-1)"></path>
          <path
            d="M479.85,18.48l41.3,87.77h-7.87l-10.5-22.13H455.45l-11,22.13h-7.62l43-87.77M480,0,424,114.25h25.5l11-22.13h37.12l10.5,22.13h25.63L480,0Z"
            transform="translate(-1)"></path>
          <path
            class="cls-2"
            d="M479.21,50.78l8.68,18.29H470.11l9.1-18.29m.17-16.61-20.63,42.9H499.5Z"
            transform="translate(-1)"></path>
          <path
            d="M51.54,6.44V70.56c0,9.63-1.85,14.19-3.39,16.31a15.85,15.85,0,0,1-5.27,4.7,15.17,15.17,0,0,1-5.14,1.81,8.59,8.59,0,0,1-1.6.24,15.07,15.07,0,0,1-3,.25c-7.63,0-14-4.32-18-10.21L1,100.15a32.72,32.72,0,0,0,2.87,3.35c.6.64,1.24,1.24,1.84,1.81A42.1,42.1,0,0,0,64,103.5C71.27,96,75,86.23,75,74.69V6.44Zm15,68.25c0,9.46-2.8,17-8.6,23a32,32,0,0,1-24.07,10.06A31.63,31.63,0,0,1,11.16,99l3.93-4.53c5.33,5.15,11.44,7.41,19.13,7.41,9,0,15.7-3.24,20.66-10.07,3.35-4.58,5-11.53,5-21.22V14.84h6.64Z"
            transform="translate(-1)"></path>
          <path
            d="M754.6,18.48l41.3,87.77H788l-10.5-22.13H730.2l-11,22.13h-7.62l43-87.77M754.75,0l-56,114.25h25.5l11-22.13h37.13l10.5,22.13H808.5L754.75,0Z"
            transform="translate(-1)"></path>
          <path
            class="cls-2"
            d="M754,50.78l8.68,18.29H744.86L754,50.78m.16-16.61L733.5,77.07h40.75Z"
            transform="translate(-1)"></path>
        </svg>
      </a>
    </div>

    <!-- Mobile Menu toggle button -->
    <div class="block md:hidden">
      <button class="pr-8 hover:text-gray-700" id="nav-toggle">
        <svg
          class="fill-current h-6 w-6"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>

    <!-- Navigation Items -->
    <div
      id="nav-content"
      class="hidden font-bold md:flex md:items-center md:w-auto md:text-2xs lg:text-xs"
    >
      <ul class="md:flex md:flex-1 font-main">
        <li>
          <a
            href="#"
            class="inline-block py-2 px-4 cursor-pointer text-dark hover:text-primary transition-colors duration-700 ease-out lg:px-6"
            >Bikes</a
          >
        </li>
        <li>
          <a
            href="#"
            class="inline-block py-2 px-4 cursor-pointer text-dark hover:text-primary transition-colors duration-700 ease-out lg:px-6"
            >Demo</a
          >
        </li>
        <li>
          <a
            href="#"
            class="inline-block py-2 px-4 cursor-pointer text-dark hover:text-primary transition-colors duration-700 ease-out lg:px-6"
            >Riders</a
          >
        </li>
        <li>
          <a
            href="#"
            class="inline-block py-2 px-4 cursor-pointer text-dark hover:text-primary transition-colors duration-700 ease-out lg:px-6"
            >Blog</a
          >
        </li>
        <li>
          <a
            href="#"
            class="inline-block py-2 px-4 cursor-pointer text-dark hover:text-primary transition-colors duration-700 ease-out lg:px-6"
            >What We Do</a
          >
        </li>
      </ul>
    </div>
    <!-- Main navigation right icons -->
    <div class="hidden md:flex items-center justify-between">
      <div
        class="mx-4 text-dark hover:text-primary cursor-pointer transition-colors duration-700 ease-out"
      >
        <svg
          class="fill-current h-5 w-5"
          height="512pt"
          viewBox="-35 0 512 512.00102"
          width="512pt"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m443.054688 495.171875-38.914063-370.574219c-.816406-7.757812-7.355469-13.648437-15.15625-13.648437h-73.140625v-16.675781c0-51.980469-42.292969-94.273438-94.273438-94.273438-51.984374 0-94.277343 42.292969-94.277343 94.273438v16.675781h-73.140625c-7.800782 0-14.339844 5.890625-15.15625 13.648437l-38.9140628 370.574219c-.4492192 4.292969.9453128 8.578125 3.8320308 11.789063 2.890626 3.207031 7.007813 5.039062 11.324219 5.039062h412.65625c4.320313 0 8.4375-1.832031 11.324219-5.039062 2.894531-3.210938 4.285156-7.496094 3.835938-11.789063zm-285.285157-400.898437c0-35.175782 28.621094-63.796876 63.800781-63.796876 35.175782 0 63.796876 28.621094 63.796876 63.796876v16.675781h-127.597657zm-125.609375 387.25 35.714844-340.097657h59.417969v33.582031c0 8.414063 6.824219 15.238282 15.238281 15.238282s15.238281-6.824219 15.238281-15.238282v-33.582031h127.597657v33.582031c0 8.414063 6.824218 15.238282 15.238281 15.238282 8.414062 0 15.238281-6.824219 15.238281-15.238282v-33.582031h59.417969l35.714843 340.097657zm0 0"
          ></path>
        </svg>
      </div>
      <div
        class="mx-4 text-dark hover:text-primary cursor-pointer transition-colors duration-700 ease-out"
      >
        <svg
          class="fill-current h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512.005 512.005"
        >
          <path
            d="M505.749 475.587l-145.6-145.6c28.203-34.837 45.184-79.104 45.184-127.317C405.333 90.926 314.41.003 202.666.003S0 90.925 0 202.669s90.923 202.667 202.667 202.667c48.213 0 92.48-16.981 127.317-45.184l145.6 145.6c4.16 4.16 9.621 6.251 15.083 6.251s10.923-2.091 15.083-6.251c8.341-8.341 8.341-21.824-.001-30.165zM202.667 362.669c-88.235 0-160-71.765-160-160s71.765-160 160-160 160 71.765 160 160-71.766 160-160 160z"
          ></path>
        </svg>
      </div>
    </div>
  </nav>
  <!-- Hero -->
  <div class="site-hero relative md:-mt-20 z-0">
    <div class="site-hero_img">
      <picture>
        <source
          media="(min-width: 400px) and (orientation: landscape)"
          srcset="img/jlb_web_home_hero.jpg"
        />
        <source
          media="(min-width: 400px) and (orientation: portrait)"
          srcset="img/jlb_mobile_home_hero.jpg"
        />
        <img src="img/jlb_web_home_hero.jpg" alt="Juliana bycycles" />
      </picture>
    </div>

    <div
      class="site-hero__text-container absolute top-1/2 pl-8 transform -translate-y-1/2 md:mt-8 flex flex-col items-start lg:items-end lg:w-full lg:pr-10"
    >
      <h1
        class="site-hero__title font-bold text-yellow-100 text-left text-4xl w-4/5 mb-6 leading-none sm:w-3/5 lg:text-right lg:w-2/5"
      >
        The Original Women's Mountain Bike
      </h1>
      <div class="site-hero__button">
        <a
          href=""
          class="btn-primary bg-primary px-6 py-3 text-white text-sm font-bold font-main"
          >See the Bikes</a
        >
      </div>
    </div>
  </div>
</header>
