---
import logo from "../../public/images/icons/logo-icon-black.webp";
---

<header class="max-w-[100vw]">
  <nav
    class="static w-full mx-auto h-10 flex justify-between md:justify-center items-center"
  >
    <div
      class="wrapper w-full flex justify-between md:justify-center items-center px-4 gap-x-10"
    >
      <div class="logo">
        <a href="#">
          <img
            src="/public/images/icons/logo-icon-black.webp"
            class="w-6"
            alt=""
          />
        </a>
      </div>
      <input type="radio" name="slider" id="menu-btn" />
      <input type="radio" name="slider" id="close-btn" />
      <ul
        class="nav-links flex justify-center items-center md:gap-x-10 text-gray-700 w-auto static md:text-center h-full"
      >
        <label for="close-btn" class="btn close-btn"
          ><i class="fa fa-times"></i></label
        >
        <li class=""><a href="/">Эхлэл</a></li>
        <li class="w-full">
          <input type="checkbox" id="showMega" />
          <label
            for="showMega"
            class="dropdown__button mobile-item cursor-pointer">UIS</label
          >
          <div
            class="mega-box w-full flex justify-center absolute top-10 inset-x-0 transition-all duration-500 ease-in-out h-auto bg-gray-100 md:border-t md:py-16"
          >
            <div
              class="dropdown__content w-full md:w-8/12 flex flex-col md:flex-row justify-center md:gap-x-10 gap-y-10 py-8"
            >
              <div class="dropdown__group">
                <div
                  class="dropdown__item flex md:flex-col items-center justify-start md:justify-center"
                >
                  <a
                    href="/products/UIS/resona-i9"
                    class="dropdown__image-link"
                  >
                    <img
                      src="/public/images/products/UIS/ResonaI9/resonai9Menu.webp"
                      alt="Item 1"
                      class="dropdown__image w-auto h-auto"
                    />
                  </a>
                  <div class="dropdown__content text-center">
                    <h3 class="dropdown__name text-3xl md:text-lg">
                      Resona I9
                    </h3>
                    <a
                      href="/products/UIS/resona-i9"
                      class="dropdown__link text-xs text-gray-600 hover:underline"
                      >Дэлгэрэнгүй</a
                    >
                  </div>
                </div>
              </div>
              <div class="dropdown__group">
                <div
                  class="dropdown__item flex md:flex-col items-center justify-start md:justify-center"
                >
                  <a
                    href="/products/UIS/consona-n9"
                    class="dropdown__image-link"
                  >
                    <img
                      src="/public/images/products/UIS/consona-n9.webp"
                      alt="Item 1"
                      class="dropdown__image w-auto h-auto"
                    />
                  </a>
                  <div class="dropdown__content text-center">
                    <h3 class="dropdown__name text-3xl md:text-lg">
                      Consona N9
                    </h3>
                    <a
                      href="/products/UIS/consona-n9"
                      class="dropdown__link text-xs text-gray-600 hover:underline"
                      >Дэлгэрэнгүй</a
                    >
                  </div>
                </div>
              </div>
              <div class="dropdown__group">
                <div
                  class="dropdown__item flex md:flex-col items-center justify-start md:justify-center"
                >
                  <a href="/products/UIS/mx7" class="dropdown__image-link">
                    <img
                      src="/public/images/products/UIS/mx-7.webp"
                      alt="Item 1"
                      class="dropdown__image w-auto h-auto"
                    />
                  </a>
                  <div class="dropdown__content text-center">
                    <h3 class="dropdown__name text-3xl md:text-lg">MX7</h3>
                    <a
                      href="/products/UIS/mx7"
                      class="dropdown__link text-xs text-gray-600 hover:underline"
                      >Дэлгэрэнгүй</a
                    >
                  </div>
                </div>
              </div>
              <div class="dropdown__group">
                <div
                  class="dropdown__item flex md:flex-col items-center justify-start md:justify-center"
                >
                  <a href="/products/CT/uCT550" class="dropdown__image-link">
                    <img
                      src="/public/images/products/CT/uCT-550.webp"
                      alt="Item 1"
                      class="dropdown__image w-auto h-auto"
                    />
                  </a>
                  <div class="dropdown__content text-center">
                    <h3 class="dropdown__name text-3xl md:text-lg">uCT550</h3>
                    <a
                      href="/products/CT/uCT550"
                      class="dropdown__link text-xs text-gray-600 hover:underline"
                      >Дэлгэрэнгүй</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- <li class="hover:text-gray-900 text-nowrap">
          <a href="/shinjyukuCare">Shinjyuku Care+</a>
        </li> -->
      </ul>
      <label for="menu-btn" class="btn menu-btn"
        ><i class="fas fa-bars text-black font-extralight"></i></label
      >
    </div>
  </nav>
</header>

<style>
  .mega-box {
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }

  .nav-links li:hover .mega-box {
    opacity: 1;
    visibility: visible;
  }

  .nav {
    background: #f5f5f7;
    z-index: 1001;
  }

  .wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
  }
  @media screen and (max-width: 970px) {
    .wrapper .btn {
      display: block;
      color: #242526;
    }
    .wrapper .nav-links {
      /* position: fixed; */
      position: absolute;
      /* height: max-content; */
      height: fit-content;
      overflow-y: visible;
      width: 100%;
      top: 0;
      left: -100%;
      background: #f5f5f7;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      /* overflow-y: auto; */
      box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
      transition: all 0.3s ease;
    }
    /* custom scroll bar */
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #242526;
    }
    ::-webkit-scrollbar-thumb {
      background: #3a3b3c;
    }
    #menu-btn:checked ~ .nav-links {
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn {
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn {
      display: block;
    }
    .nav-links li {
      margin: 15px 10px;
    }
    .nav-links li a {
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    #showMega:checked ~ .nav-links {
      max-height: fit-content;
      z-index: 1000;
    }

    #showMega:checked ~ .mega-box {
      max-height: fit-content;
    }
    /* #showMega:checked ~ .dropdown__content {
      max-height: fit-content;
      z-index: 1000;
    } */
    .nav-links .desktop-item {
      display: none;
    }
    .nav-links .mobile-item {
      display: block;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .mega-box {
      position: relative;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      height: fit-content;
      overflow: hidden;
      transition: all 0.3s ease;
      z-index: 1000;
    }
    .mega-box .content {
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
  }
  nav input {
    display: none;
  }
</style>
