---

---

<header
  class="max-w-[100vw] h-10 flex justify-between items-center lg:px-8 relative"
>
  <div class="logo pl-4 lg:pl-0">
    <a href="https://shinjyuku.mn">
      <img src="/images/icons/full-black-logo.webp" class="w-24" alt="" />
    </a>
  </div>
  <nav
    class="main-nav h-full flex justify-between lg:justify-center items-center px-4 lg:px-0"
  >
    <input type="radio" name="slider" id="menu-btn" />
    <input type="radio" name="slider" id="close-btn" />

    <ul class="nav-links w-auto flex gap-x-10 lg:items-center">
      <label for="close-btn" class="btn close-btn"
        ><i class="fa fa-times"></i></label
      >
      <li class="w-full uis-link">
        <input type="checkbox" id="showMega-uis" />
        <label
          for="showMega-uis"
          class="dropdown__button mobile-item cursor-pointer">Ultrasound</label
        >
        <div
          class="mega-box-uis w-full flex justify-center absolute top-10 inset-x-0 transition-all duration-500 ease-in-out bg-gray-100 lg:border-t lg:py-10"
        >
          <div
            class="dropdown__content w-full max-h-fit lg:w-8/12 flex flex-col lg:flex-row justify-center lg:gap-x-10 gap-y-10"
          >
            <div class="dropdown__group hover:bg-gray-200">
              <div
                class="dropdown__item flex lg:flex-col items-center justify-start lg:justify-center"
              >
                <a href="/resona-i9" class="dropdown__image-link">
                  <img
                    src="/images/products/UIS/ResonaI9/resonai9Menu.webp"
                    alt="Item 1"
                    class="dropdown__image w-auto h-36 lg:h-56"
                  />
                </a>
                <div class="dropdown__content text-center">
                  <h3 class="dropdown__name text-3xl lg:text-lg">Resona I9</h3>
                  <a
                    href="/resona-i9"
                    class="dropdown__link text-xs text-gray-600 hover:underline"
                    >Дэлгэрэнгүй</a
                  >
                </div>
              </div>
            </div>
            <div class="dropdown__group hover:bg-gray-200">
              <div
                class="dropdown__item flex lg:flex-col items-center justify-start lg:justify-center"
              >
                <a href="/consona-n9" class="dropdown__image-link">
                  <img
                    src="/images/products/UIS/consona-n9.webp"
                    alt="Item 1"
                    class="dropdown__image w-auto h-36 lg:h-56"
                  />
                </a>
                <div class="dropdown__content text-center">
                  <h3 class="dropdown__name text-3xl lg:text-lg">Consona N9</h3>
                  <a
                    href="/consona-n9"
                    class="dropdown__link text-xs text-gray-600 hover:underline"
                    >Дэлгэрэнгүй</a
                  >
                </div>
              </div>
            </div>
            <div class="dropdown__group hover:bg-gray-200">
              <div
                class="dropdown__item flex lg:flex-col items-center justify-start lg:justify-center"
              >
                <a href="/mx7" class="dropdown__image-link">
                  <img
                    src="/images/products/UIS/mx-7.webp"
                    alt="Item 1"
                    class="dropdown__image w-auto h-36 lg:h-56"
                  />
                </a>
                <div class="dropdown__content text-center">
                  <h3 class="dropdown__name text-3xl lg:text-lg">MX7</h3>
                  <a
                    href="/mx7"
                    class="dropdown__link text-xs text-gray-600 hover:underline"
                    >Дэлгэрэнгүй</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="w-full ct-link">
        <input type="checkbox" id="showMega-ct" />
        <label
          for="showMega-ct"
          class="dropdown__button mobile-item cursor-pointer">CT</label
        >
        <div
          class="mega-box-ct w-full flex justify-center absolute top-10 inset-x-0 transition-all duration-500 ease-in-out bg-gray-100 lg:border-t lg:py-10 mb-10"
        >
          <div
            class="dropdown__content w-full max-h-fit lg:w-8/12 flex flex-col lg:flex-row justify-center lg:gap-x-10 gap-y-10"
          >
            <div class="dropdown__group hover:bg-gray-200">
              <div
                class="dropdown__item flex lg:flex-col items-center justify-start lg:justify-center"
              >
                <a href="/uCT550" class="dropdown__image-link">
                  <img
                    src="/images/products/CT/uCT-550.webp"
                    alt="Item 1"
                    class="dropdown__image w-auto h-36 lg:h-56"
                  />
                </a>
                <div class="dropdown__content text-center">
                  <h3 class="dropdown__name text-3xl lg:text-lg">uCT550</h3>
                  <a
                    href="/uCT550"
                    class="dropdown__link text-xs text-gray-600 hover:underline"
                    >Дэлгэрэнгүй</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!-- <li class="w-full ct-link">
        <input type="checkbox" id="showMega-ct" />
        <label
          for="showMega-ct"
          class="dropdown__button mobile-item cursor-pointer"
          style="white-space: nowrap;">X-Ray</label
        >
        <div
          class="mega-box-ct w-full flex justify-center absolute top-10 inset-x-0 transition-all duration-500 ease-in-out h-auto bg-gray-100 lg:border-t lg:py-10 mb-10"
        >
          <div
            class="dropdown__content w-full lg:w-8/12 flex flex-col lg:flex-row justify-center lg:gap-x-10 gap-y-10"
          >
            <div class="dropdown__group hover:bg-gray-200">
              <div
                class="dropdown__item flex lg:flex-col items-center justify-start lg:justify-center"
              >
                <a href="/uCT550" class="dropdown__image-link">
                  <img
                    src="/images/products/CT/uCT-550.webp"
                    alt="Item 1"
                    class="dropdown__image w-auto h-36 lg:h-56"
                  />
                </a>
                <div class="dropdown__content text-center">
                  <h3 class="dropdown__name text-3xl lg:text-lg">uCT550</h3>
                  <a
                    href="/uCT550"
                    class="dropdown__link text-xs text-gray-600 hover:underline"
                    >Дэлгэрэнгүй</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </li> -->
      <!-- <li class="hover:text-gray-900 text-nowrap">
          <a href="/shinjyukuCare">Shinjyuku Care+</a>
        </li> -->
    </ul>
    <label for="menu-btn" class="btn menu-btn"
      ><i class="fas fa-bars text-black font-extralight"></i></label
    >
  </nav>
  <div class="contact-info hidden lg:flex gap-x-10 items-center justify-center">
    <a
      class="aspect-square h-full"
      href="https://www.facebook.com/mongoliamindray"
      target="_blank"><ion-icon name="logo-facebook"></ion-icon></a
    >
    <a
      class="aspect-square h-full"
      href="https://www.instagram.com/shinjyuku_llc?igsh=czgwMHlweDFqdXFu"
      target="_blank"><ion-icon name="logo-instagram"></ion-icon></a
    >
  </div>
</header>

<style>
  .mega-box-uis,
  .mega-box-ct {
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
  }

  .nav-links .uis-link:hover .mega-box-uis {
    opacity: 1;
    visibility: visible;
  }

  .nav-links .ct-link:hover .mega-box-ct {
    opacity: 1;
    visibility: visible;
  }

  .nav {
    background: #f5f5f7;
    z-index: 1001;
  }

  .main-nav .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .main-nav .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
  }
  @media screen and (max-width: 768px) {
    .main-nav .btn {
      display: block;
      color: #242526;
    }
    .main-nav .nav-links {
      /* position: fixed; */
      position: absolute;
      /* height: max-content; */
      height: fit-content;
      overflow-y: visible;
      width: 100%;
      top: 0;
      left: -100%;
      background: #f5f5f7;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      /* overflow-y: auto; */
      box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
      transition: all 0.3s ease;
      z-index: 1000;
    }
    /* custom scroll bar */
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #242526;
    }
    ::-webkit-scrollbar-thumb {
      background: #3a3b3c;
    }
    #menu-btn:checked ~ .nav-links {
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn {
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn {
      display: block;
    }
    .nav-links li {
      margin: 15px 10px;
    }
    .nav-links li a {
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    /* #showMega:checked ~ .nav-links {
      max-height: fit-content;
      z-index: 1000;
    } */

    .mega-box-uis,
    .mega-box-ct {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      position: relative;
      width: 100%;
    }

    /* #showMega-uis:checked ~ .mega-box-uis {
      max-height: fit-content;
    }

    #showMega-uis:checked ~ .mega-box-ct {
      max-height: 0;
    }

    #showMega-ct:checked ~ .mega-box-ct {
      max-height: fit-content;
    }

    #showMega-ct:checked ~ .mega-box-uis {
      max-height: 0;
    } */

    /* #showMega:checked ~ .dropdown__content {
      max-height: fit-content;
      z-index: 1000;
    } */
    .nav-links .desktop-item {
      display: none;
    }
    .nav-links .mobile-item {
      display: block;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .mega-box-uis,
    .mega-box-ct {
      position: relative;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      height: fit-content;
      overflow: hidden;
      transition: all 0.3s ease;
      z-index: 1000;
    }
    .mega-box-uis .content {
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box-ct .content {
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
  }
  nav input {
    display: none;
  }
</style>

<script>
  document.querySelectorAll(".dropdown__button").forEach((button) => {
    button.addEventListener("click", (event) => {
      const target = event.target as HTMLElement; // Target элементийг тодорхойлох
      const currentDropdown = target.nextElementSibling as HTMLElement | null; // Dropdown элементийг тодорхойлох
      const allDropdowns = document.querySelectorAll<HTMLElement>(
        ".mega-box-uis, .mega-box-ct"
      );

      // Бүх цэсийг хаана
      allDropdowns.forEach((dropdown) => {
        if (dropdown !== currentDropdown) {
          dropdown.style.maxHeight = "0";
        }
      });

      // Хэрэв тухайн цэс байгаа бол нээх/хаах
      if (currentDropdown) {
        if (
          currentDropdown.style.maxHeight === "0px" ||
          !currentDropdown.style.maxHeight
        ) {
          currentDropdown.style.maxHeight = "fit-content";
        } else {
          currentDropdown.style.maxHeight = "0";
        }
      }
    });
  });
</script>
<script>
  window.addEventListener("resize", () => {
    const allDropdowns = document.querySelectorAll(
      ".mega-box-uis, .mega-box-ct"
    );

    if (window.innerWidth >= 768) {
      allDropdowns.forEach((dropdown) => {
        if (dropdown instanceof HTMLElement) {
          dropdown.style.maxHeight = "none"; // Desktop горимд хязгааргүй болгоно
          dropdown.style.overflow = "visible";
        }
      });
    } else {
      allDropdowns.forEach((dropdown) => {
        if (dropdown instanceof HTMLElement) {
          dropdown.style.maxHeight = "0"; // Mobile горимд хаалттай болгоно
          dropdown.style.overflow = "hidden";
        }
      });
    }
  });
</script>
