---

---

<header class="bg-gray-100 max-w-screen-xl p-3 mx-auto">
  <nav
    class="menu w-full flex items-center justify-between md:justify-center flex-row"
  >
    <!-- Logo -->
    <div class="sjk-logo">
      <a href="shinjyuku.mn" class="sjk-logo__link">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 22.68 22.68"
            class="w-4 h-4 fill-gray-700 hover:fill-gray-950"
            ><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"
              ><g id="Layer_1-2" data-name="Layer 1"
                ><g id="Layer_2-2" data-name="Layer 2"
                  ><g id="Layer_1-2-2" data-name="Layer 1-2"
                    ><path
                      d="M19.53,5s-5.91,10.17-14,13.9c0,0-3.16-12.69,17.14-18.94,0,0-1.88,21-15.29,20.06a3.91,3.91,0,0,1-1-.19,12.13,12.13,0,0,0,1.77-1.05C11.08,16.73,17.11,11.81,19.53,5Z"
                    ></path><path
                      d="M0,22.5l4.65-2.6s.28-.2.42.06a.32.32,0,0,1-.11.41H5L0,22.68Z"
                    ></path></g
                  ></g
                ></g
              ></g
            ></svg
          >
        </span>
      </a>
    </div>
    <!-- Hamburger Button (Small Screens) -->
    <button
      class="block md:hidden text-gray-700 hover:text-gray-900 focus:outline-none"
      id="hamburger-button"
    >
      <div class="hamburger-lines">
        <span class="block w-6 h-0.5 bg-gray-700 mb-1"></span>
        <span class="block w-6 h-0.5 bg-gray-700 mb-1"></span>
        <span class="block w-6 h-0.5 bg-gray-700"></span>
      </div>
    </button>

    <!-- Menu Items -->
    <ul class="hidden w-full flex-col md:flex md:flex-row" id="menu">
      <li class="menu__item group menu__item--has-dropdown static">
        <a
          href="/src/pages/products/allUltrasoundMachines.astro"
          class="menu__link">UIS</a
        >
        <!-- <input
          type="checkbox"
          class="peer absolute bg-blue-300 top-0 inset-x-0 h-12 opacity-0 z-10 cursor-pointer w-full"
        />
        <div
          class="absolute top-0 right-3 text-black transition-transform duration-500 peer-checked:rotate-180"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 md:hidden"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </div> -->

        <div
          class="menu__dropdown w-[100vw] p-10 absolute top-8 md:top-8 left-0 bg-blue-400 hidden peer-checked:visible group-hover:flex"
        >
          <div
            class="menu__dropdown-columns flex justify-center w-full mx-auto"
          >
            <div class="menu__dropdown-column flex flex-wrap">
              <div class="menu__dropdown-item flex flex-col justify-">
                <a href="#" class="menu__dropdown-item-image">
                  <img
                    src="/public/images/products/UIS/resona-i9.webp"
                    alt="Item 1"
                    class="menu__dropdown-image"
                  />
                </a>
                <div class="menu__dropdown-item-content text-center">
                  <h3 class="menu__dropdown-item-name text-lg">Resona I9</h3>
                  <a
                    href="#"
                    class="menu__dropdown-item-link text-xs text-gray-600 hover:underline"
                    >Дэлгэрэнгүй</a
                  >
                </div>
              </div>
              <div class="menu__dropdown-item flex flex-col justify-">
                <a href="#" class="menu__dropdown-item-image">
                  <img
                    src="/public/images/products/UIS/consona-n9.webp"
                    alt="Item 1"
                    class="menu__dropdown-image"
                  />
                </a>
                <div class="menu__dropdown-item-content text-center">
                  <h3 class="menu__dropdown-item-name text-lg">Consona N9</h3>
                  <a
                    href="#"
                    class="menu__dropdown-item-link text-xs text-gray-600 hover:underline"
                    >Дэлгэрэнгүй</a
                  >
                </div>
              </div>
              <div class="menu__dropdown-item flex flex-col justify-">
                <a href="#" class="menu__dropdown-item-image">
                  <img
                    src="/public/images/products/UIS/mx-7.webp"
                    alt="Item 1"
                    class="menu__dropdown-image"
                  />
                </a>
                <div class="menu__dropdown-item-content text-center">
                  <h3 class="menu__dropdown-item-name text-lg">MX7</h3>
                  <a
                    href="#"
                    class="menu__dropdown-item-link text-xs text-gray-600 hover:underline"
                    >Дэлгэрэнгүй</a
                  >
                </div>
              </div>
              <div class="menu__dropdown-item flex flex-col justify-">
                <a href="#" class="menu__dropdown-item-image">
                  <img
                    src="/public/images/products/CT/uCT-550.webp"
                    alt="Item 1"
                    class="menu__dropdown-image"
                  />
                </a>
                <div class="menu__dropdown-item-content text-center">
                  <h3 class="menu__dropdown-item-name text-lg">uMI 550</h3>
                  <a
                    href="#"
                    class="menu__dropdown-item-link text-xs text-gray-600 hover:underline"
                    >Дэлгэрэнгүй</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="menu__item w-full">
        <a href="/src/pages/shinjyukuCare.astro" class="menu__link"
          >Shinjyuku Care+</a
        >
        <div class="menu__dropdown"></div>
      </li>
    </ul>
  </nav>
</header>
<style>
  .menu {
    background-color: rgb(245, 245, 247);
    z-index: 1000;
  }

  .menu__logo-svg {
    @apply opacity-70 hover:opacity-100;
  }

  .menu__item {
    @apply mx-5 text-sm font-medium text-gray-600 hover:text-gray-950;
  }

  /* Dropdown styles */
  .menu__item--has-dropdown:hover .menu__dropdown {
    @apply flex;
  }

  .menu__dropdown {
    @apply hidden;
    background-color: rgb(245, 245, 247);
    max-width: 100vw;
    margin: 0 auto;
    z-index: 1001;
  }

  .menu__dropdown-links li {
    @apply py-2;
  }

  .menu__dropdown-image {
    @apply h-64 p-6 aspect-square;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .menu__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    .menu__list {
      flex-direction: column;
      gap: 10px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburgerButton = document.getElementById("hamburger-button");
    const menu = document.getElementById("menu");

    hamburgerButton.addEventListener("click", () => {
      menu.classList.toggle("hidden");
      menu.classList.toggle("flex");
    });
  });
</script>
