---
import Main from "./src/layouts/Main.astro";
---

<Main>
  <section
    class="h-[85vh] w-full bg-cover bg-center bg-white grid lg:grid-cols-2 place-content-center content-center text-white mb-2"
    style="background-image: url('/public/images/hero/IndexResonaI9.webp');"
  >
    <div class="product-hero__content lg:w-1/2 lg:mx-auto">
      <div class="flex flex-col w-full text-center">
        <p class="product-hero__desc md:text-2xl md:mb-4lg:mb-6">
          Diagnostic Ultrasound System
        </p>
        <h2 class="product-hero__title md:text-8xl">Resona I9</h2>
      </div>
    </div>
  </section>
</Main>
