---
import Menu from "../components/Menu.astro";
import MainNav from "../components/MainNav.astro";
import MegaMenu from "../components/MegaMenu.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
import "../styles/components.css";
---

<html lang="en" class="h-full w-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/public/images/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Shinjyuku website" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css"
    />

    <title>Шинжьюкү ХХК</title>
  </head>
  <body>
    <main>
      <!-- <Header /> -->
      <!-- <Menu /> -->
      <MainNav />
      <!-- <MegaMenu /> -->
      <slot />
      <Footer />
    </main>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <script src="/src/js/header.js"></script>
  </body>
</html>
